<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>MHB or YHB values updated for:</p>
            <ul>
                {% for stock in updated_stocks %}
                    <li>{{ stock.script }}</li>
                {% endfor %}
            </ul>
            <hr>
            <p class="mb-0">You will be redirected shortly.</p>
        </div>
    </div>
</body>
</html>
